.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: sticky;
  top: 0;
  bottom: 0;
  position: fixed;
  top: 80px;
  height: calc(100vh - 80px);
  left: 0;
  width: 300px;
  background-color: #0f0f14;
  color: #ffa94d;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 30px;
}

.sidebar-icon {
  width: 32px;
  height: 32px;
  transition: all 0.25s ease-in;
  margin-right: 15px;
  align-self: center;
  justify-self: end;
}

.sidebar-stroke-icon {
  stroke: #ffa94d;
}
.sidebar-buttons:hover .sidebar-stroke-icon {
  stroke: #0f0f14;
}

.sidebar-fill-icon {
  fill: #ffa94d;
}
.sidebar-buttons:hover .sidebar-fill-icon {
  fill: #0f0f14;
}

.sidebar-buttons {
  flex: 0 0 calc((100vh - 80px) / 7);

  display: grid;
  grid-template-columns: 100px 1fr;
  width: 100%;
  cursor: pointer;
  height: 100%;
  transition: all 0.25s ease-in;
  font-size: 22px;
  font-weight: 500;
}

.sidebar-buttons span {
  align-self: center;
  justify-self: start;
}

.sidebar-buttons:hover {
  color: #0f0f14;
  background-color: #ffa94d;
}

/* start all buttons off invisible */
.sidebar-buttons {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.35s ease, transform 0.35s ease;
}

/* when in view, animate to visible */
.sidebar-buttons.in-view {
  opacity: 1;
  transform: translateY(0);
}

/* optional: when scrolling out, animate back */
.sidebar-buttons.out-of-view {
  opacity: 0;
  transform: translateY(-20px);
}

.active {
  color: #0f0f14;
  background-color: #ffa94d;
}

.sidebar-buttons.active .sidebar-stroke-icon {
  stroke: #0f0f14 !important;
}

.sidebar-buttons.active .sidebar-fill-icon {
  fill: #0f0f14 !important;
}

/* END SIDEBAR */

/* Scrollbar styles for WebKit (Chrome, Safari, Edge) */
.sidebar::-webkit-scrollbar {
  width: 12px;
}

.sidebar::-webkit-scrollbar-track {
  background: #0f0f14; /* scrollbar background */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #ffa94d; /* scrollbar handle */
  border-radius: 10px;
  border: 2px solid #0f0f14; /* creates padding around thumb */
}